<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css" type="text/css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" type="text/css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/foundationtosymfony.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/foundationtosymfony.js') }}"></script>
    </head>
    <body>
        {{ knp_menu_render('MyBundle:Builder:mainMenu', {'template' : 'FlobFoundationBundle:Menu:foundation_knp_menu.html.twig'}) }}
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>