{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1>Modifica prodotto "{{ product.getName() }}"</h1>
            <div>
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.tags) }}
                    {{ form_row(form.image) }}
                    <button class="success" type="submit">Salva modifiche</button>
                    <div class="right">
                        <a href="{{ path('product_list') }}" class="button">Torna indietro</a>
                    </div>
                    <div class="clear"></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}